.container{
  width: 97.5%;
  max-width: 80rem;
  margin: 0 auto;
  margin-block: 10rem;
  overflow-x: scroll;
}

.table {
  width: 100%;
  color: #fff;
  margin: 0 auto;
}

@media (max-width: 600px){
  .table{
    border-collapse: default;
  }
}

.table_header{
  font-weight: bold;
  background-color: #019481;

  th {
    padding-block: 1rem;
  }
}

.table_body{
  color: #001815;

  tr:nth-child(odd) {
    background-color: #01948133;
  }

  tr:nth-child(even) {
    background-color: #01948122;
  }

  td {
    padding-block: 0.5rem;
    text-align: center;
  }
}
