.container{
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
  margin-block: 10rem;
}

.table {
  width: 100%;
  min-width: 40rem;
  max-width: 80rem;
  color: #fff;
  margin: 0 auto;
  border-collapse: collapse;
}

.table_header{
  font-weight: bold;
  background-color: #019481;

  th {
    padding-block: 1rem;
  }
}

.table_body{
  color: #001815;

  tr:nth-child(odd) {
    background-color: #01948133;
  }

  tr:nth-child(even) {
    background-color: #01948122;
  }

  td {
    padding-block: 0.5rem;
    text-align: center;
  }
}
